@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Underdog&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --background-color: rgb(33, 33, 33);
    --color-dark-white: rgb(255, 255, 255);
    --nav-color: rgb(175, 198, 123);
    --background-btn: rgba(175, 198, 123, 0.48);
    --font-family-dog: 'Underdog', cursive;
    --font-family: 'Montserrat', sans-serif;
    --background-color-section: rgba(175, 198, 123, 0.48);
}

body {
    font-family: var(--font-family);
    background: var(--background-color);
    color: var(--color-dark-white);
    transition: all 2s linear;
}

.header {
    background-image: url(/assets/img/landing-img.jpeg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 90%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.mobile {
    display: none;
}

.nav {
    z-index: 100;
    width: 100%;
    padding: 30px 0;
    justify-content: end;
    align-items: center;
}

.desktop {
    display: flex;
}

.nav-menu {
    display: flex;
    gap: 15px;
    color: var(--nav-color);
    text-transform: uppercase;
    font-size: 25px;
}

.content-container {
    display: flex;
    width: 95%;
    margin: 0 auto;
    /* border: 1px solid red; */
    justify-content: end;
}

.hero-side {
    /* border: 1px solid black; */
}

.logo {
    width: 100%;
    /* border: 1px solid red; */
    padding-top: 10px;
}

.logo>.sushi-logo {
    width: 20%;
}

.hero {
    width: 100%;
    /* border: 1px solid red; */
}

.hero>.hero-content {
    font-size: 30px;
    margin: 40px 0;
    color: var(--nav-color);
    text-transform: uppercase;
}

.hero>.hero-btn {
    margin-top: 40px;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--background-btn);
    color: var(--nav-color);
    font-size: 20px;
    text-transform: capitalize;
}

.what-we-do {
    width: 100%;
    /* height: 100vh; */
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.col1,
.col2 {
    height: 100%;
    /* width: 50%; */
}

.row>.col1 {
    /* height: 30vh; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.col2 {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
}

.heading {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;

}

.heading>.info {
    font-family: var(--font-family-dog);
    font-size: 15px;
    padding-bottom: 30px;
    color: var(--nav-color);
}

.heading>.para1 {
    font-size: 15px;
    font-family: var(--font-family);
}

.image {
    width: 100%;
    /* height: 100%; */
    opacity: 0;
    transition: all 2s ease-in-out;
    /* position: absolute; */
    transform: translateX(30%);

}

.active {
    opacity: 1;
    transform: translateX(0%);
}

.nav-active {
    background-color: blue;
    border-radius: 7px;
}

.container-new {
    height: 100%;
}

.row2 {
    background: var(--background-color-section);
    width: 100%;
    height: 50vh;
}

.flex-menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
}

.flex-item {
    width: 25%;
    /* border: 1px solid red; */
    opacity: 0;

}

.flex-heading {
    font-family: var(--font-family-dog);
}

.flex-item>.flex-container {
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.top {
    padding-top: 20px;
}

.active2 {
    transition: 2s all linear;
    opacity: 1;
}


.z {
    width: 10%;
}

.box-container {
    background: var(--background-color-section);
    width: 80%;
    margin: 30px auto;
    /* height: 50vh; */
}

.box-content {
    text-align: center;
    padding: 30px 0;
}

.box-content>.box-title {
    text-transform: capitalize;
    font-family: var(--font-family-dog);
    color: var(--background-btn);
    font-size: 20px;
}

.box-content>.plate {
    font-size: 30px;
    padding: 10px 0;
    font-weight: 400;
}

.box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    /* overflow: hidden; */
}

.box>.box-child {
    width: 20%;
    object-fit: cover;
    /* overflow: hidden; */
}

.new-img {
    width: 100%;
    opacity: 0;
}

.my-img1 {
    transform: translate(-30%, -10%);
}

.my-img2 {
    transform: translate(20%, -20%);
}

.my-img3 {
    transform: translate(-20%, 0%);
}

.my-img4 {
    transform: translate(40%, 0%);
}

.my-img5 {
    transform: translate(-20%, 20%);
}

.my-img6 {
    transform: translate(20%, 20%);
}

.child-container {
    width: 100%;
    text-align: center;
}

.child-container>.child-content {
    font-size: 15px;
}

/* .one {
    transform: translateX(0);
    transition: 3s all linear;
    opacity: 1;
} */

.two {
    transform: translate(0%, 0%);
    /* transition: 1s all ease-in-out; */
    opacity: 1;
}

.section-bg {
    background-image: url(/assets/img/bookhere-bg.webp);
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.headline {
    padding: 50px 0;
    height: 20vh;
    text-align: center;
    /* width: 60%; */
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: var(--background-btn);
}

.headline-content {
    width: 50%;
    margin: 0 auto;

}

.simple {
    font-size: 22px;
    padding-bottom: 20px;
    font-family: var(--font-family-dog);
    color: var(--background-btn);
}

.simple-content {
    font-size: 13px;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.form-container {
    width: 100%;
    position: absolute;
    top: 25%;
    left: 0;
    /* margin-bottom: 70px; */
    /* height: 100px; */
    padding: 20px 0;
    background: var(--background-color);
}

.form {
    width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.form-content-container {
    display: block;
    width: 30%;
    text-transform: capitalize;
}

.label {
    font-size: 15px;

}

.input {
    width: 100%;
    padding: 9px 2px;
    margin-top: 5px;
    /* outline: none; */
    background: none;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
}

.btn-container {
    width: 100%;
    text-align: center;
    margin: 25px 0;
}

.submit-btn {
    padding: 10px 45px;
    border-radius: 3px;
    background: none;
    color: white;
    border: 1px solid white;
    text-transform: capitalize;
}

input:focus {
    outline-color: var(--background-btn);
}

::placeholder {
    text-transform: capitalize;
}

.option {
    width: 26%;
    height: 110px;
    position: absolute;
    /* border: 1px solid red; */
    top: 19px;
    overflow-y: scroll;
    font-size: 15px;
    background: var(--background-color);
}

.close {
    display: none;
}

.open {
    display: block;
}

.location-price {
    display: flex;
    padding: 5px 0;
    justify-content: space-between;
}

.location-price:hover {
    background: rgb(52, 35, 3);
    animation: all 2s;
}

.check-container {
    text-align: center;
    margin: 12px 0;
}

.check {
    padding: 10px 40px;
    text-transform: capitalize;
    font-size: 19px;
    background-color: var(--background-btn);
    border: none;

}

.new-para {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    /* background-color: red; */
}

.choose {
    width: 70%;

}

.food-container {
    width: 100%;
display: flex;
    border: 1px solid var(--background-btn);
    justify-content: space-between;
}

.food-img,
.buttons,.the-two {
    width: 30%;
}
.the-two{
    display: flex;
   align-items: center;
    justify-content: space-between;
}
.buttons {
    display: flex;
    /* gap: 10px; */
}

.price-icon>input {
    width: 10%;
    background: transparent;
    color: white;
    border: 1px solid var(--background-btn);
}

.food-img {
    width: 50px;
    height: 50px;
}

.food-image {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    /* height: 100%; */
}

.food-name>p {
    padding: 0 5px;
}

.price-btn {
    width: 100%;
    background-color: transparent;
    color: white;
    border: none;
}

.card-child {
    width: 50%;
    /* border: 1px solid yellow; */
}

.card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* border: 1px solid red; */
}

.menu-title {
    text-align: center;
    padding: 10px 0;
}

.menu-title>h2 {
    font-size: 35px;
    color: var(--background-btn);
    text-transform: capitalize;
}

.menu-title>p {
    font-size: 18px;
}

.qty {
    border: 1px solid white;
    padding: 0px 15px;
}

.icon {
    width: 30%;
    display: flex;
    justify-content: end;
}

.book {
    text-align: center;
    text-transform: capitalize;
    font-family: var(--font-family-dog);
    padding: 20px 0;
}

.food-title {
    color: var(--background-btn);
    font-family: var(--font-family-dog);
}

.increase,
.decrease {
    border: 50%;
    width: 20px;
    height: 20px;
    border: none;

}

.prev {
    /* border: 1px solid red; */
    width: 20px;
    text-align: center;
}

.svg-icon {
    width: 70px;
    height: 70px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
   right: 0;
   bottom: 0;
   z-index: 2;

}
.small{
    position: absolute;
 
}
.img-fluid {
    width: 70%;

}
.off{
    display: none;
}
.on{
    display: block;
}
.cart-box{
    width: 100%;
    position: fixed;
    bottom: 0;
width: 100%;
display: ;
    background-color: black;
}
.order-btn{
    text-align: center;
}
.order-btn-now{
    padding: 10px 30px;
    text-transform: capitalize;
    border: none;
    border-radius: 3px ;
}


.the-two{
    display: flex;
    width: 70%;
    
}
.cart-array{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cart-img-cont{
width: 30px;
height: 30px;
border-radius: 50%;
}
.cart-element{
    width: 100%;
    text-transform: capitalize;
}
.cart-img{
    width: 100%;
}
.cart-price{
    width: 30%;
    text-align: center;
}
.total{
    padding: 10px 0;
    text-transform: capitalize;
}
.cart-cont{
    display: flex;
    width: 60%;
   border: 1px solid red;
   gap: 20px;
   margin-top: 10px;
    justify-content: space-between;
}
    .fix{
        position: fixed;
        width: 100%;
        bottom: 0;
        background: black;
    }
.card-btn{
    width: 30%;
}
.units{
    display: flex;
    width: 30%;
    justify-content: center;
    gap: 20%;
}

.cart-cont {
    width: 100%;
    border: none;
}

.cart-name {
    width: 30%;
}
@media screen and (max-width:900px) {
    .form-content-container {
        width: 100%;
    }

    .form {
        gap: 10px;
    }

}

@media screen and (max-width:600px) {
    .desktop {
        display: none;
    }

    body {
        overflow: scroll;
    }
.svg-icon{
    height: 50px;
    width: 50px;
}
    .mobile {
        display: block;
    }

    .hamburger {
        display: flex;
        justify-content: end;
        font-size: 25px;
        /* z-index: 1000; */
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .fa-xmark {
        font-size: 40px;
    }

    .toggle-close {
        display: flex;
        justify-content: end;
        margin-top: 20px;
    }

    .hide {
        display: none;
    }

    .seek {
        display: block;
    }

    .toggle-mobile-menu {
        background-color: var(--background-color);
        height: 100vh;
        position: fixed;
        width: 100%;
        z-index: 100;
        left: 0;
        top: 0;
    }

    .nav-menu {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;

    }


    .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100vh;
        gap: 10px;
        text-align: center;
        /* align-items: center; */
        justify-content: center;
        /* border: 1px solid red; */
    }

    .menu>.nav-item {
        /* padding-bottom: 15px; */
        margin: 0 30px;
        background: var(--background-btn);
        border: 1px solid var(--background-btn);
    }

    .flex-menu {
        display: block;
    }

    .flex-item {
        width: 100%;
    }

    .row2 {
        height: 100vh;
    }

    .row {
        height: 100%;
        flex-direction: column;
    }

    .row>.col1 {
        width: 100%;
        height: 50vh;
    }

    .col2 {
        width: 100%;
        height: 50vh;
    }

    .image {
        height: 100%;
    }

    .box-container {
        width: 100%;
        /* height: 100vh; */
        margin: 0;
    }

    .box {
        flex-direction: column;
        width: 100%;
        overflow: hidden;
    }

    .box>.box-child {
        width: 100%;
        overflow: hidden;
    }

    .headline-content {
        width: 100%;
    }

    .form {
        flex-direction: column;
        gap: 10px;
    }

    .form-content-container {
        width: 100%;

    }

    .option {
        width: 50%;
        height: 100px;
        background-color: rgb(41, 28, 52);
        border-radius: 5px;
        top: 5px;
        font-size: 10px;
    }

    .location-price:hover {
        background-color: blueviolet;
    }

    .section-bg {
        height: 0;
    }
.cart-cont{
    width: 100%;
    border: none;
}
.cart-name{
    width: 30%;
}
    .my-img1 {
        transform: translate(100%, 0);
    }

    .my-img2 {
        transform: translate(-100%, 0);
    }

    .my-img3 {
        transform: translate(100%, 0%);
    }

    .my-img4 {
        transform: translate(-100%, 0%);
    }

    .my-img5 {
        transform: translate(100%, 0%);
    }

    .my-img6 {
        transform: translate(-100%, 0%);
    }

    .two {
        transform: translateX(0);
    }

    .child-container>.child-content {
        font-size: 14px;
        padding: 20px 0;
    }

    .card {
        flex-direction: column;
        gap: 0;
    }

    .card-child {
        width: 100%;
    }

    .food-name>p {
        font-size: 12px;
    }

    .menu-title>p {
        font-size: 14px;
    }






}